name: Deploy Ja on Comment with Hashtag

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

run-name: "国内版(${{ github.event.comment.created_at }})"
    
concurrency:
  group: document-prod-ja-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  test01:
    runs-on: ubuntu-latest
    steps:
      - name: Set up mutex
        uses: ben-z/gh-action-mutex@v1.0.0-alpha.10
        with:
          branch: another-mutex
          
      - name: start
        env:
            TZ: 'Asia/Tokyo'
        run: echo "GitHub Actions Start($(date '+%Y-%m-%d %H:%M:%S'))"
      - name: IP Address
        run: |
          IP=$(curl -s https://checkip.amazonaws.com/)
          echo "IP Address: $IP"
      - name: wait
        run: sleep 30
      - name: end
        env:
            TZ: 'Asia/Tokyo'
        run: echo "GitHub Actions End($(date '+%Y-%m-%d %H:%M:%S'))"

